<div class="container">
    <div class="col-sm-6">
      <img src="images/people.jpg" alt="">
    </div>
    <div class="col-sm-6">
      <h1>Welcome!</h1>
      <p> Your Dream Wedding Starts Here.</p>
      <p> If you want to see check out wedding venues, click <a href="/venues">the venues page</a> and find your dream wedding destination!</p>
      <p> We have a catalogue of wedding vendors for you to choose from, check out <a href="/vendors">our vendors list </a> and book them today</p>
      <p> If you are a Vendor/Venue owner and would like to contact us <a href="/contact">click here </a> for our contact page</p>
    </div>
  </div>